<mat-toolbar color="primary" class="app-toolbar">
  <mat-icon>satellite_alt</mat-icon>
  <span class="toolbar-title">Satellite Constellation Simulator</span>
  <span class="toolbar-spacer"></span>
  @if (state()) {
    <span class="sim-time">{{ state()!.timeStr }}</span>
  }
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened class="control-sidenav">
    <app-control-panel />
  </mat-sidenav>

  <mat-sidenav-content class="main-content">
    <app-simulation-canvas />
    <app-telemetry-panel />
  </mat-sidenav-content>
</mat-sidenav-container>